h1, h2, h5, p {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.posts {
    background-color: aliceblue;
    max-width: 50%;
    border-radius: 2%;
}

.create-title {
    text-align: center;
    margin-top: 20px;
}

.create-title input {
    width: 40%;
    display: initial;
}

.create-content {
    text-align: center;
    margin-top: 20px;
}

.create-content textarea {
    width: 500px;
    height: 200px;
    position: relative;
    display: initial;
}

.create-button {
    margin-top: 20px;
    padding: 10px;
    align-content: center !important;
}

ul {
    list-style: none;
   
}

li {
    padding: 5px;
}

.search {
    position: relative;
    display: block;
    margin : 0 auto;
    min-width: 200px;
    max-width: 350px;
    padding: 10px;
}

.logreg-label {
    text-align: center;

}

.logreg-form {
    position: relative;
    display: block;
    margin : 0 auto;
    min-width: 200px;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}

.create-button, .login-button, .register-button {
    width: 175px;
}