{% extends 'base.html' %}

{% block content %}

<h1>Create post</h1>
<form method="POST">
	<!-- The action has now been removed, and then it defaults to "this page".
	     Since we're loading the form AND receiving the data on the same route,
		 we don't need to specify the `action` anymore. -->
<div class="container">
	<div class="row">

		<div class="create-title col text-center">
			<label for="title">Title</label>
		</div>
		<div class="create-title">
			<input class="form-control " type="text" name="title" id="title" />
		</div>

		<div class="create-content">
			<label for="content">Content</label>
		</div>
		<div class="create-content">
			<textarea class="form-control" name="content" id="content"></textarea>

	  </div>
	</div>
  </div>

	<div class="container">
		<div class="row">
		  <div class="col text-center">
			<button type="submit" class="btn btn-info create-button ">Submit</button>
		  </div>
		</div>
	  </div>
</form>
{% endblock %}